<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SqliteWrapper.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D3F41E2D1D0C3504007096F8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D3F41E461D0C3504007096F8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D3F41E511D0C3504007096F8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
